# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  name: Default

stages:

- stage: CI
  displayName: "CI - Build"
  jobs:
  - job: Build
    steps:
    - script: echo "CI running - code pulled from github"

- stage: DEV
  displayName: "Deployed to Dev"
  dependsOn: CI
  condition: succeeded()
  jobs:
  - job: DeployDev
    steps:
    - script: echo "Deploying to Dev(manual)"



- stage: PROD
  displayName: "Deployed to Prod"
  dependsOn: CI
  condition: succeeded()
  jobs:
  - job: DeployProd
    steps:
    - script: echo "Deploying to Prod(manual)"